*
{
    box-sizing: border-box;
}

body
{
    margin: 0px;
    padding: 0px;
    font: poppins;
}

#main
{
    width: 100%;
    height: 40vh;
    position: relative;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.02);
}

.logo img
{
    height: 128px;
}



.menu
{
    list-style: none;
    display: flex;
}

.menu li a
{
    height: 40px;
    line-height: 44px;
    margin: 4px;
    padding: 0px 20px;
    display: flex;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: grey;
}

a
{
    text-decoration: none;
}

.hey
{
    text-decoration: none;
    color: turquoise;
    font-size: 1em;
    font-size: 500;
    border-bottom: 2px solid turquoise;
}

.image
{
    height: 450px;
    width: 450px;
}
.image img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content
{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text
{
    width: 500px;
}

.main-text h1
{
    font-size: 3.5em;
    color: #1c3548;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

.main-text p
{
    color: grey;
    font-family: sans-serif;
}

.resum-btn
{
    display: flex;
    width: 200px;
    height: 45px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1db096;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
}

.resum-btn:hover
{
    background-color: #23cdaf;
    transition: all ease 0.2s;
}

.menu li a:hover
{
    background-color: #23cdaf;
    color: white;
    transition: all ease 0.2s;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
}